---
title: SWE
description: I'm Vasu Zalawadia, a CS & Finance student at Northeastern University.
inline_styles:
  - home-critical.scss
linked_styles:
  - home-deferred.css
---
<section id="about" class="header">
  <picture>
    <source type="image/jpeg" srcset="/assets/images/portrait.jpg">
    <img src="/assets/images/portrait.jpg" alt="Me">
  </picture>
  <div>
    <h1>Hi! I'm {{site.firstname}} 👋</h1>
    <p>{{site.description}}</p>
    <ul class="no-dots">
      {% for item in site.data.now.items %}
        <li class="emoji-list-item" style="--list-emoji: '{{ item.emoji }} ';">{{item.content}}</li>
      {% endfor %}
    </ul>
  </div>
</section>

<a name="tech"></a>
<section id="tech" class="full-bleed">
  <h2>Skills</h2>
  {% for item in site.data.tech %}
    <div class="tech-item {{item.icon}}-tech-icon" title="{{item.name}}">
      <img class="tech-icon" src="/assets/images/icons/skills/{{item.icon}}.svg" alt="{{ item.name }} icon">
      <span class="tech-name">{{item.name}}</span>
    </div>
  {% endfor %}
</section>

<a name="projects"></a>
<section id="projects">
  <h2>Projects & Experience</h2>
  {% for project in site.data.projects %}
    <div class="project full-bleed" style="background: {{project.color}}">
      <div class="{{project.type}}">
        <a href="/assets/images/projects/{{project.image}}" target="_blank">
          <img class="screenshot " src="/assets/images/projects/{{project.image}}" href="/assets/images/projects/{{project.image}}" alt="{{project.name}} Screenshot" loading="lazy">
        </a>
        {% if project.type == "window" or project.type == "website" %}
          <div class="buttons close"></div>
          <div class="buttons minimize"></div>
          <div class="buttons maximize"></div>
        {% endif %}
        {% if project.type == "website" %}
          <div class="tab">
            <div class="tab-favicon" style="background: {{project.color}}"></div>
          </div>
        {% endif %}
      </div>

      <div class="information">
        <h1 class="information-name">{{project.name}}</h1>
        <p class="information-description">{{project.description}}</p>
        {% if project.url %}
          <a class="information-link" href="{{project.url}}" target="_BLANK" rel="noopener">{{project.urlDisplay}}</a>
        {% endif %}
        {% if project.disabledBox %}
          <a class="information-link disabled">{{project.disabledBox}}</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>



<a name="contact"></a>
<section id="contact" class="full-bleed">
  <h2 id="contact-title">Contact Me!</h2>
  <div class="contact-section">
    <ul id="contact-info">
      {% for service in site.data.contact %}
        <li>
          <img class="contact-icon" src="/assets/images/icons/{{service.icon}}.svg" alt="Icon">
          <a class="contact-method" href="{{service.url}}" target="_BLANK" rel="noopener">{{service.name}}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>