.post-content {
  img,
  video {
    width: 100%;
    text-align: center;
    padding: 2rem 20% 0;

    & + em {
      opacity: 0.8;
      font-size: 0.9em;
      text-align: center;
      padding: 0 0 1.5rem 0;
      width: 100%;
      display: inline-block;
    }
  }

  .pano img {
    padding: 2rem 0 0;
  }
}
