#contact {
  align-items: center;
  background: var(--contact-bg);
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;

  #contact-title {
    color: var(--contact-fg);
    font-size: 2em;
    margin: 2rem 0 0 0;
    text-align: center;
  }

  @media screen and (max-width: 60rem) {
    flex-direction: column;

    #contact-title {
      margin-top: 1rem;
    }
  }

  .contact-section {
    box-sizing: border-box;
    color: var(--contact-fg);
    max-width: 50rem;
    padding: 1rem;
    text-align: center;

    #contact-info {
      list-style-type: none;
      padding: 0;
      text-align: left;
      line-height: 3em;

      .contact-icon {
        width: 2em;
        margin-left: 2em;
        margin-right: 0.5em;
        vertical-align: middle;
      }

      .contact-method {
        color: var(--contact-fg);
        display: inline-block;
        margin: 0;
        position: relative;
        text-decoration: none;
        vertical-align: middle;

        &::after {
          background: var(--contact-fg);
          bottom: 0.6em;
          content: "";
          height: 1px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}

#contact-info li {
  @media screen and (min-device-width: 800px) {
    display: inline;
  }
}
